.itemdetailpage .content {
    -ms-grid-row: 1;
    -ms-grid-row-span: 3;
    display: block;
    height: 100%;
    position: relative;
    margin-left: 80px;
    z-index: 0;
    overflow:hidden;
}



    .itemdetailpage .content .article {
        /* 定义多列，以便在默认情况下水平滚动文章内容。*/
        
        column-gap: 80px;
        column-width: 550px;
        height: calc(100% - 83px);
        padding-left:40px;
        margin-top: 60px;
        width: 550px;
        color:black;
        -ms-transform:-ms-transform 600ms linear;
        -ms-transform: translate3d(0px, 0, 0);
    }
    .itemdetailpage .content p {
        font-size:20px;
    }
    .itemdetailpage .content div {
        font-size:20px;
    }
 

    
/*img*/
    .img-c{
        position:relative;width:272px;
        max-height:560px;overflow:hidden;
    }
     .img-self{
            max-width:580px;
    }

        .itemdetailpage .content article .item-content p {
            margin-top: 10px;
            margin-bottom: 20px;
            margin-right: 20px;
            display:block;
            background-color:red;
            margin:0 141px 0 0;
        }

@media screen and (-ms-view-state: snapped) {
    .itemdetailpage .content {
        -ms-grid-row: 2;
        -ms-grid-row-span: 1;
        overflow-x: hidden;
        overflow-y: auto;
    }

        .itemdetailpage .content article {
            /* 定义单列，以便在对齐模式下垂直滚动文章内容。*/
            -ms-grid-columns: 300px 1fr;
            -ms-grid-row: 2;
            -ms-grid-rows: auto 60px;
            display: -ms-grid;
            height: 100%;
            margin-left: 20px;
            margin-top: 6px;
            width: 300px;
        }

            .itemdetailpage .content article header .item-title {
                margin-bottom: 10px;
            }

            .itemdetailpage .content article .item-image {
                height: 140px;
                width: 280px;
            }


}

@media screen and (-ms-view-state: fullscreen-portrait) {
    .itemdetailpage .content article {
        margin-left: 100px;
    }
}
