a{outline:none;}
img{border:0;}
ol,ul{list-style:none outside none;padding:0}
.img-c{position:relative;}
.img-c1{margin:12px auto;}
.img-self{max-width:580px;}
.img-icon{position:absolute; bottom:0px;right:0px;height:22px;width:22px; background-position: 0 0;background:url(http://cdn.easyread.163.com/images/icon.png) no-repeat}
#sl{padding-left:12px;}
#sl li{float:left;padding:0 10px 10px 0;}
#sl .r{padding-right:0;}
#sl .b{padding-bottom:0;}
#sl li div{overflow:hidden;}
#sl li div img{-webkit-tap-highlight-color: rgba(0,0,0,0);}
#sl .imgDiv{text-align:center; vertical-align:middle; display:table-cell;}
.sdb{width:100%;height:100%;position:absolute;top:0;left:0;background-color:#000;opacity:0.1;}
.pris_layout{border:0;margin:0;padding:0;word-break:break-all;}
.title{font-family:Hiragino Sans GB;font-size:34px;line-height:44px;margin-bottom:11px;}
.attr-info{font-family:华文细黑;font-size:13px;line-height:13px;margin-bottom:15px;}
.summ_b{background:url(http://cdn.easyread.163.com/images/pris_summ_bottom.png) no-repeat left bottom;padding:0 0 4px 0;margin:0 0 15px 0;}
.summ_t{background:url(http://cdn.easyread.163.com/images/pris_summ_top.png) no-repeat left top;height:3px;border:0;padding:0;margin:0;}
.summ{background:url(http://cdn.easyread.163.com/images/pris_summ.png) repeat-y;border:0;font-family:华文细黑;font-size:16px;line-height:24px;text-indent:2em;border:0;padding:8px 12px 6px;}
.xtop, .xbottom {display:block; background:transparent; font-size:1px;}  
.xb1, .xb2, .xb3, .xb4 {display:block; overflow:hidden;}  
.xb1, .xb2, .xb3 {height:1px;}  
.xb2, .xb3, .xb4 {border-left:1px solid #e0e0e0; border-right:1px solid #e0e0e0;}  
.xb1 {margin:0 5px; background:#e0e0e0;}  
.xb2 {margin:0 3px; border-width:0 2px;}  
.xb3 {margin:0 2px;}  
.xb4 {height:2px; margin:0 1px;}     
.summary {display:block; border:0 solid #e0e0e0; border-width:0 1px;text-indent:2em;padding:8px 12px 6px;font-family:华文细黑;font-size:16px;line-height:24px;}
.summary *{margin:0; padding:0;}
.content{font-family:华文细黑;font-size:16px;line-height:24px;margin-top:15px;}
.video{width:480px;height:320px;position: relative;}
.video img.bg-img {height:320px;}
.video .icon {display: block; height:44px; width:44px; position:absolute; left:50%;top:50%; margin-left:-22px; margin-top:-22px;}
.video-content h2{font-family:华文细黑;font-size:18px;line-height:40px; background:url(http://cdn.easyread.163.com/images/icon-gkk.png) no-repeat left 12px;padding-left:30px;}
.video-content p{text-indent:2em;}
.c0{color:#dddddd}
.c1{color:#676767}
.c2{color:#999999}
.c3{color:#222222}
.c4{color:#7b7b7b}
.c5{color:#464646}



/*IPAD二期样式表*/
/*自定义*/
.m-mb .wb .owrap .img-d{float:left; margin:0 24px 12px 0;}
.wz table{width:80%;margin:15px auto;text-align:center;border:#ccc solid 1px;}
.wz table tr.bg{background-color:#d6ebff;}
.wz table td{border-bottom:1px solid #CCCCCC;border-right:1px solid #CCCCCC;font-size:12px;}
.wz table td .st{font-weight:bold;}
.wz table td p{text-align:center;}




/* 统一调用背景图 */
.m-logo a,.m-nav a,.m-nav em{background:url(http://cdn.easyread.163.com/images/sprite.png) no-repeat 9999px 9999px;}
.m-mb .quote,.m-mb .imglist ul li a span,.m-mb .wb .owrap .arrow,.m-mb .sxc .single a span,.m-mb .wz .yz span{background:url(http://cdn.easyread.163.com/images/icon.png) no-repeat -9999px -9999px;}
.m-mb .wb .owrap .intop-1{background:url(http://cdn.easyread.163.com/images/sprite02.png) no-repeat -9999px -9999px;}
.m-mb .wb .owrap .inbot-1{background:url(http://cdn.easyread.163.com/images/sprite03.png) no-repeat -9999px -9999px;}
.m-mb .wb .owrap .inmid-1{background:url(http://cdn.easyread.163.com/images/sprite04.png) no-repeat -9999px -9999px;}
.m-mb .wb .owrap .intop-2,.m-mb .wb .owrap .inbot-2,.m-mb .wb .owrap .inmid-2{background:url(http://cdn.easyread.163.com/images/sprite01.png) no-repeat -9999px -9999px;}
.m-mb .vinfo,.m-mb .vinfo .lp,.m-mb .vinfo .rp,.m-mb .whd,.m-mb .course .whd .lp,.m-mb .teacher .whd .lp,.m-mb .whd .rp{background:url(http://cdn.easyread.163.com/images/sprite05.png) no-repeat -9999px -9999px;}
/* 统一清除浮动 */
.g-hd:after,.g-bd:after,.g-ft:after,.m-nav ul:after,.m-mb .imglist ul:after,.m-mb .hd:after,.m-mb .wb .owrap p.tname:after,.m-mb .wb .bd .com:after,.m-mb .vinfo .infob:after,.m-mb .sxc .info:after,.m-mb .wz .ac:after,.m-info:after{clear:both;content:'.';display:block;height:0;visibility:hidden;}
.g-hd,.g-bd,.g-ft,.m-nav ul,.m-mb .imglist ul,.m-mb .hd,.m-mb .wb .owrap p.tname,.m-mb .wb .bd .com,.m-mb .vinfo .infob{zoom:1;}



.g-doc{width:950px;margin:0 auto;text-align:left;}
/* 头部 */
.g-hd{margin:0 0 10px;}
/* 主体 */
.g-bd{}
/* 主栏 */
.g-mn{float:right;width:100%;margin-left:-200px;}
.g-mnc{margin-left:200px;}
/* 侧栏 */
.g-sd{position:relative;float:left;width:200px;}
/* 尾部 */
.g-ft{margin:40px 0 0;padding:0 0 20px;}


/* 模块(module)(.m-) */
/* logo */
.m-logo,.m-logo a{display:inline;float:left;width:200px;height:60px;}
.m-logo a{overflow:hidden;/*text-indent:-20000px;background-position:0 0;*/}
/* 顶部链接 */
.m-link{float:right;}
.m-link li{display:inline;float:left;margin:0 6px;}
/* 导航 */
.m-nav{clear:both;}
.m-nav ul{}
.m-nav li,.m-nav a,.m-nav em{display:inline;float:left;}
.m-nav li{margin:0 6px;}
/* 尾部站点 */
.m-nts{text-align:center;line-height:22px;}
.m-nts a{margin:0 6px;}
/* 尾部版权 */
.m-cprt{text-align:center;line-height:20px;font-family:arial;}
/* 正文样式 */
.m-mb{margin:0 auto;text-align:left;}
.m-mb p{text-align:left;white-space:normal;}
.m-mb .wz{padding-bottom: 46px;}
.m-mb .wz h1,.m-mb .xc h1,.m-mb .vid h1{font-size:38px;font-weight:normal;line-height:1.22em;}
.m-mb .wz .info,.m-mb .xc .info,.m-mb .vid .info,.m-mb .sxc .info{margin:10px 0 25px;padding:5px 0 0 0;font-size:14px;line-height:1.71em;border-top:1px dashed #ccc;}
.m-mb .xc .info{margin-right:12px;}
.m-mb .wz img{vertical-align:top;}
.m-mb .wz .info em,.m-mb .xc .info em,.m-mb .vid .info em{padding:0 0 0 14px;font-weight:normal;}
.m-mb .wz p,.m-mb .xc p{margin:0 0 10px 0;line-height:1.6em;}
.m-mb .wz .ac{line-height:1.6em;}
.m-mb .wz p{text-indent:2em;}
.m-mb .wz .sdb,.m-mb .xc .sdb{width:100%;height:100%;position:absolute;top:0;left:0;background-color:#333;opacity:0.5;}
.m-mb .wz .quote,.m-mb .xc .quote{margin:0 0 30px 0;padding:0 0 0 44px;background-position:0 -35px;}
.m-mb .wz .quote p,.m-mb .xc .quote p{font-size:17px;line-height:1.6em;}
.m-mb .wz .yz{position:relative;}
.m-mb .wz .yz a{display:block;width:100%;height:100%;}
.m-mb .wz .ac{word-wrap: break-word;}

/* 相册样式 */
.m-mb .imglist .img-c{position:relative;width:272px;height:216px;}
.m-mb .imglist ul li{float:left;display:inline;overflow:hidden;width:272px;height:216px;margin:0 10px 10px 0;background-position:0 0;}
.m-mb .imglist ul li a{display:block;-webkit-tap-highlight-color: rgba(0,0,0,0);}
.m-mb .imglist ul li a span,.m-mb .sxc .single a span,.m-mb .wz .yz span{display:block;position:absolute;right:0;bottom:0;width:22px;height:22px;background-position:0 0;}
.m-mb .gallery{margin-left:12px;}
/* 各种布局 */

.m-mb-1{width:760px;margin:0 120px;}
.m-mb-2{width:600px;margin:0 72px;}
.m-mb-3{width:864px;margin:0 68px;}
.m-mb-4{width:580px;margin:0 82px;}
.m-mb-5{width:760px;margin:0 86px;}
.m-mb-6{width:600px;margin:0 38px;}
.m-mb-7{width:864px;margin:0 34px;}
.m-mb-8{width:580px;margin:0 48px;}

.m-mb-1{width:760px;}
.m-mb-2{width:600px;}
.m-mb-3{width:864px;}
.m-mb-4{width:580px;}
.m-mb-3 .xc,.m-mb-4 .xc{padding:0 0 0 12px;}
.m-mb-3 .info,.m-mb-4 .info{margin-right:12px;}
.m-mb .img-fl{float:left;margin:0 24px 9px 0;}
.m-mb-1 .img-fr{float:right;margin:9px 0 9px 20px;}
/* 微博 */
.m-mb .wb{padding-bottom: 46px;}
.m-mb .wb p{margin-bottom:0;padding:9px 0;font-size:19px;line-height:1.5em;}
.m-mb .wb .fs-content{color:#333}
.m-mb .wb .hd{padding:12px 0;border-bottom:1px dotted #ccc;}
.m-mb .wb .hd .imgbx{width:48px;height:48px;border:1px solid #ccc;float:left;}
.m-mb .wb .hd .imgbx img {width:48px;height:48px;}
.m-mb .wb .hd p{padding:0 0 0 65px;line-height:2.13em;}
.m-mb .wb .hd p em{padding:0 0 0 10px;}
.m-mb .wb .hd p.pt{font-size:14px;line-height:1em;}
.m-mb .wb .bd .puretxt{padding:142px 88px 0 88px;}
.m-mb .wb .bd .puretxt p{font-size:24px;line-height:1.5em;}
.m-mb .wb .bd .puretxt p a,.m-mb .bd .com p a{color:#069;}
.m-mb .wb .bd .img{margin:18px auto;text-align:center;}
.m-mb .wb .bd .img a{display:inline-block;padding:4px;border:1px solid #eaeaea;background-color:#fff;}
.m-mb .wb .bd .inmid-1 .inmid-2 .img a{padding:0px;}
.m-mb .wb .bd .inmid-1 .inmid-2 .img img{max-width: 536px}
.m-mb .wb .bd .com{border-bottom:1px dotted #ccc;text-align:center;}
.m-mb .wb .bd .com img{margin-top:20px;max-width:600px;}
.m-mb .wb .owrap{margin:34px 0 0 0;}
.m-mb .wb .owrap p{font-size:18px;line-height:32px;padding:0 0;}
.m-mb .wb .owrap .intop-1,.m-mb .wb .owrap .inbot-1{padding:0 10px 0 0;height:7px;background-position:right top;}
.m-mb .wb .owrap .intop-2{position:relative;height:7px;background-position:0 0;}
.m-mb .wb .owrap .arrow{position:absolute;top:-11px;left:49%;width:25px;height:14px;background-position:-46px 0;}
.m-mb .wb .owrap .inbot-2{height:7px;background-position:0 -13px;}
.m-mb .wb .owrap .inmid-1{padding:0 5px 0 0;background-position:right top;background-repeat:repeat-y;}
.m-mb .wb .owrap .inmid-2{padding:16px 27px 16px 32px;background-position:-760px 0;background-repeat:repeat-y;}
.m-mb .wb .owrap .inmid-2 p a{color:#069;}
.m-mb .wb .owrap .img-fl{float:left;margin:0 24px 0 0;}
.m-mb .wb .owrap .img-fr{float:right;margin:0 0 0 24px;}
.m-mb-l .wb .img img{max-width:690px;}
.m-mb-p .wb .img img{max-width:530px;}
.m-mb .wb .hb .img img{max-width:690px;}
.m-mb .wb .sb .img img{max-width:530px;}
.m-mb .wb .owrap p.ptxt{font-size:21px;line-height:1.7em;color:#000;}
.m-mb .wb .owrap p.ptxt a{color:#069;}
.m-mb .wb .owrap p.nptxt{font-size:21px;line-height:1.8em;}
.m-mb .wb .owrap p.tname{margin:20px 0 10px;}
.m-mb .wb .owrap p.tname span{float:right;padding:0 0 0 8px;font-size:14px;}
.m-mb .wb .owrap p.tname img{width:24px;height:24px;}
.m-mb .wb .mtwrap{margin:82px 0 20px;}
.m-mb .wb .mtwrap h1{margin:0 0 18px 0;font-size:28px;text-align:center;color:#000;}
.m-mb .wb .mtwrap p{font-size:18px;line-height:1.8em;color:#000;padding:0 0;}
/* 视频 */
.m-mb .vid{padding-bottom: 46px;}
.m-mb .vid .vwrap{background:#000;}
.m-mb .vid .vplay{width:480px;height:320px;margin:0 auto;}
.m-mb .vinfo{margin:50px 0 37px;position:relative;overflow:hidden;height:205px;background-position:0 -213px;background-repeat:repeat-x;}
.m-mb .vinfo .lp,.m-mb .vinfo .rp{position:absolute;width:15px;height:205px;top:0;}
.m-mb .vinfo .lp{left:0;background-position:0 0;}
.m-mb .vinfo .rp{right:0;background-position:-35px 0;}
.m-mb .whd{height:36px;position:relative;background-position:0 -585px;background-repeat:repeat-x;}
.m-mb .whd .lp,.m-mb .whd .rp{position:absolute;height:36px;top:0;}
.m-mb .course,.m-mb .teacher{margin:20px 0 0 0;}
.m-mb .course .whd .lp{width:130px;left:0;background-position:0 -425px;}
.m-mb .teacher .whd .lp{width:130px;left:0;background-position:0 -478px;}
.m-mb .whd .rp{width:20px;right:0;background-position:0 -531px;}
.m-mb .vinfo .infob{padding:20px;overflow:hidden;}
.m-mb .vid .cimg{float:left;margin:0 21px 0 0;padding:3px;border:1px solid #e2e2e2;}
.m-mb .vinfo .infob h3{padding:9px 0;font-size:18px;line-height:1.3em;}
.m-mb .vinfo .infob ul li{padding-left:144px;margin:5px 0;font-size:14px;}
.m-mb .vid .minfo{margin:14px 17px;}
.m-mb .vid .minfo p,.m-mb .vid .minfo ul li{font-size:19px;line-height:1.5em;}
.m-mb .vid .teacher .minfo p{text-indent:47px;}
/*单张相册*/
.m-mb .sxc h1{font-size:30px;color:#222;font-weight:normal;line-height:44px;}
.m-mb .sxc .info .creat,.m-mb .sxc .info .loca{float:left;margin-right:58px;}
.m-mb .sxc .info .time{float:right;}
.m-mb .sxc .single{text-align:center;}
.m-mb .sxc .single a{display:inline-block;position:relative;}
.m-mb .sxc .single a span{right:5px;bottom:5px;}
.m-mb .sxc .single img{margin:1px;padding:3px;background-color:#fff;border:#e8e8e8 solid 1px;-webkit-box-shadow:0 0 1px #aaa;}
.m-mb .sxc .single p{font-size:16px;line-height:22px;margin:20px 0 0 0;}
.m-mb .sxc img{max-width:570px;max-height:758px;}
.m-mb-3 .sxc img{max-width:854px;max-height:514px;}
.m-mb-4 .sxc img{max-width:570px;max-height:758px;}

/* 论坛内页样式 */
.m-mb .m-mwrap{padding-bottom: 46px;}
.m-mwrap{font-size:19px;text-align:left;}
.m-mwrap h1{font-size:38px;line-height:48px;}
.m-sec{padding-top:30px;}
.m-info{padding:9px 8px;background-color:#e6e6e6;}
.m-info span.poster{float:left;margin-right:160px;font-size:14px;line-height:14px;}
.m-info span.time{float:right;font-size:12px;line-height:12px;}
.m-mwrap .para{margin:11px 0;line-height:1.5em;word-wrap:break-word;}
.m-mwrap .img{margin:20px 0;text-align:center;}
.m-mb-2 .m-mwrap img{max-width:600px;}
.m-mb-1 .m-mwrap img{max-width:760px;}

/* 组件(widget)(.w-) */

.w-list{}


/* 功能(function)(.f-) */
.f-cb:after{clear:both;content:'.';display:block;height:0;visibility:hidden;}
.f-cb{zoom:1;}
.f-ff0{font-family:arial;}
.f-ff1{font-family:simsun,\5b8b\4f53;}
.f-fs0{font-size:12px;}
.f-fs1{font-size:14px;}
.f-fw0{font-weight:normal;}
.f-fw1{font-weight:bold;}
.f-dn{display:none;}
.f-ib{display:inline-block;zoom:1;*display:inline;}
.f-usn{-ms-user-select:none;-moz-user-select:none;-webkit-user-select:none;-khtml-user-select:none;-o-user-select:none;}
.f-oh{overflow:hidden;}
.f-pr{position:relative;}
.f-pre{overflow:hidden;text-align:left;white-space:pre-wrap;white-space:-moz-pre-wrap;white-space:-o-pre-wrap;word-wrap:break-word;word-break:break-all;}
.f-tac{text-align:center;}
.f-tal{text-align:left;}
.f-tar{text-align:right;}
.f-taj{text-align:justify;text-justify:inter-ideograph;}
.f-thide{overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.f-ul,.f-ul:hover{text-decoration:underline;}
.f-ulno,.f-ulno:hover{text-decoration:none;}


/* 皮肤(skin)(.s-) */
.s-fc0,a.s-fc0:hover{color:#000;/* 黑色 */}
.s-fc1,a.s-fc1:hover{color:#333;/* 灰黑色 */}
.s-fc2,a.s-fc2:hover{color:#666;/* 灰色 */}
.s-fc3,a.s-fc3:hover{color:#999;/* 浅灰色 */}

.fs-title{color:#000;}
.fs-info{color:#999}
.fs-quote{color:#666}
.fs-content{color:#000}
.fs-author{color:#333}
.fs-tc{color:#333}
.fs-ori-content{color:#000}
.fs-ori-author{color:#333}
.fs-cn{color:#666}
.fs-cn{color:#666}

/* 点击查看原文链接 */
.link-source {margin:20px 0;}
.link-source a {color:#216e9a;}

/* 网易阅读应用推荐 */
.app-info:after{clear:both;content:'.';display:block;height:0;visibility:hidden;}
.app p {text-indent:0;}
.app-info {padding:10px 0 24px 0;font-size:19px;line-height:1.6em;}
.app-info .price {width:114px;float:left;margin-right:31px;}
.app-info .desc {width:455px;float:left;}
.app-info .price {text-align:center;}
.app-info .old-price {font-size:15px;color:#666666;text-decoration:line-through;}
.app-info .new-price {font-size:19px;color:#ff7200;}
.app-info .logo {padding:5px 0 7px 0;}
.app-info .logo img {width:114px;height:114px;-webkit-border-radius:28px;}
.app .download {padding:20px 0 40px 0;}
.app .download a {text-decoration:underline;color:#00598c;}
.m-mb-1 .app ul.imgs li {width:370px;height:260px;float:left;margin:0 20px 20px 0;overflow:hidden;}
.m-mb-2 .app ul.imgs li {width:290px;height:290px;float:left;margin:0 20px 20px 0;overflow:hidden;}
.app ul.imgs li:nth-child(2n) {margin-right:0;}
.app img{display:block;-webkit-tap-highlight-color: rgba(0,0,0,0);}

/**********   视频类   *********/
.v-header h1{font-weight:bold;line-height:1.2em;}
.v-header p{line-height:1em;}
.v-header .info{border-top:1px dashed #ccc;font-size:14px;}
.v-header{border-bottom:1px solid #fff;}
.v-content{font-family:\534E\6587\7EC6\9ED1;}
.v-content .brief-intro {padding:15px 10px;-webkit-border-radius:4px;border-bottom:1px solid #d5d5d5;border-top:1px solid #d5d5d5;
background:-webkit-gradient(linear, left top, left bottom, color-stop(0%, #ECECEC),color-stop(10%, #F7F7F7),color-stop(90%, #F7F7F7), color-stop(100%, #ECECEC));}
.v-content .detail-intro .play{margin:10px 10px 0 0;display:block;float:left;width:28px;height:28px;background:url(http://cdn.easyread.163.com/images/play_day_n.png) no-repeat;}
.v-content .brief-intro  h2{margin-bottom:15px;font-size:38px;line-height:1.4em;}
.v-content .brief-intro  ul li{line-height:1.6em;font-size:19px;margin-bottom:4px;}
.v-content .detail-intro p{line-height:1.6em;font-size:32px;padding:0 10px;}
.v-content .detail-intro  h2{font-size:24px;padding-left:10px;line-height:2em;-webkit-border-radius:4px;border-bottom:1px solid #d5d5d5;border-top:1px solid #efefef;
background:-webkit-gradient(linear, left top, left bottom, color-stop(0%, #efefef), color-stop(100%, #e0e0e0));margin-bottom:15px;text-shadow: 0 1px 1px #fff;}
.v-content .detail-intro ul li{margin-left:10px;margin-right:10px;color:#333;line-height:1.6em;}
.v-content #video{margin:30px auto 0 auto;display:block; position:relative;text-align:center;width:480px;height:320px;}
.v-content #video span {top:50%;left:50%;background:url(http://cdn.easyread.163.com/images/but_video_play_m.png) no-repeat; width:44px; height:44px; position:absolute;z-index:9999;margin-left:-22px;margin-top:-22px;}
.v-header .info{padding:10px 0;} 
.brief-intro{margin:36px 0} 
.detail-intro{margin:36px 0} 
.video-holder img{display:block;margin:0 auto;height:320px;width:480px;}
.v-content .brief-intro{padding:30px 16px;} 
.v-content .detail-intro ul li{margin-left:16px;margin-right:16px;} 
.v-content .detail-intro h2{padding-left:16px;} 
.v-content .detail-intro p{padding:0 16px;} 
.v-content #video span{background:url(http://cdn.easyread.163.com/images/but_video_play_n.png) no-repeat;width:69px;height:69px;margin-left:-34.5px;margin-top:-34.5px;}
.video-holder {background:#000;position:relative;}
.video-holder a{display:none;}

/* 字颜色值 */
.v-header .title{color:#333;}
.v-header .info{color:#999999}
.v-content .subject{color:#666}
.v-content .intro-title{color:#333}
.v-content .intro-item{color:#333}
.v-content .intro-content{color:#333}
